$darkest: #1e2329;
$gunmetal: #2d343b;
$border: #3e4c58;
$middle: #779ba5;
$light: #eeeeee;
$spice: #d45b2b;
$warning: #e0a631;

$body-bg: $gunmetal;
$body-color: $light;

$theme-colors: (
  primary: $spice,
  secondary: $middle,
  dark: $darkest,
  warning: $warning,
);

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";

.list-group-item,
.list-group-item-action {
  background-color: $gunmetal;
  border: 1px solid $border;
  padding-bottom: 1rem;
  color: $light;

  &:hover,
  &:active,
  &:focus {
    background-color: $border;
    color: $light;
  }
}

.fab {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  z-index: 100;
}

.slot-count {
  font-size: 1.3rem;
  align-self: flex-end;
}

.chatbox {
  height: 20rem;
  overflow-y: auto;
  background-color: $darkest;
  border-radius: 0.5rem 0.5rem 0 0;

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 0 0.5rem 0 0;
    box-shadow: inset 0 0 6px rgba(200, 200, 200, 1);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0.1rem;
    background-color: $light;
  }
}

.nav-tabs .nav-link {
  color: $middle;
}

.nav-tabs .nav-link.active {
  color: $spice !important;
}

/* Some trickery */
label[for="ui-sign-in-name-input"] {
  visibility: hidden !important;
}

label[for="ui-sign-in-name-input"]::before {
  content: "Display Name";
  visibility: visible;
}

@media (max-width: 576px) {
  html {
    margin-bottom: 5rem;
  }
  .fab {
    bottom: 4rem;
  }
}
